/In_Class/Thready/nbproject/private/
/In_Class/Thready/build/
/In_Class/Thready/dist/
/In_Class/ThreadedUnzipper/nbproject/private/
/In_Class/ThreadedUnzipper/build/
/In_Class/ThreadedUnzipper/dist/
/In_Class/SerializationExample(DuringClass)/nbproject/private/
/In_Class/SerializationExample(DuringClass)/build/
/In_Class/SerializationExample(DuringClass)/dist/
/In_Class/SerializationJsonExample(DuringClass)/nbproject/private/
/In_Class/SerializationJsonExample(DuringClass)/build/
/In_Class/SerializationJsonExample(DuringClass)/dist/
/In_Class/SwitchScenes(DuringClass)/nbproject/private/
/In_Class/SwitchScenes(DuringClass)/build/
/In_Class/SwitchScenes(DuringClass)/dist/